<!DOCTYPE html>
<html>
<head>
  <title>facefind</title>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag 'jquery.js', 'jquery.json-2.2.min.js', 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<h1><%= link_to "facefind", root_path %></h1>

	<div id="wrapper">
		<ul id="nav">
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "about", about_path %></li>
		</ul>

		<%= yield %>
	</div>

	<p id="footer">Facefind is copyright 2010. We own rights to everything, including pictures and profiles found with our service.</p>

</body>
</html>
