<!DOCTYPE html>
<html>
<head>
  <title>facefind!</title>
  <%= stylesheet_link_tag :all, :recursive => true, :cache => "all" %>
  <%= javascript_include_tag 'jquery.js', 'jquery.json-2.2.min.js', 'application.js', :cache => "all" %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= action_name %>">
	
	<h1><%= link_to "facefind", root_path %></h1>

	<div id="wrapper">
		<ul id="nav">
			<li><%= link_to 'home', root_path, :id => "index" %></li>
			<li><%= link_to 'about', about_path, :id => "about" %></li>
		</ul>

		<%= yield %>
	</div>

	<p id="footer">Some data is saved for statistic purposes. Served <%= @total_profiles %> Facebook profiles so far.</p>

</body>
</html>
